# System configuration
TIMEZONE=UTC

# App configuration
ADDRESS=0.0.0.0:80
# !!!For Production use a secure secret!!!
# Must be at least 64 characters long and not contain any spaces
SESSION_SECRET=HereIsASentenceThatDoesNotContainAnySpacesAndIsAtLeastSixtyFourCharactersLong

# Database configuration
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=financrr
DATABASE_NAME=financrr
# !!!For Production use a secure password!!!
DATABASE_PASSWORD=password
#SQLx configuration
SQLX_LOGGING=true
SQLX_LOG_LEVEL=info

# More advanced database configuration
DATABASE_SCHEMA=public
DATABASE_MIN_CONNECTIONS=5
DATABASE_MAX_CONNECTIONS=100

# Redis configuration
REDIS_HOST=cache
REDIS_PORT=6379
